body{
  padding:50px;
  font:14px "Lato";
  }
a
{
  color:#00B7FF
}
.topnav {
    font-size: 1.0em;
}
.navbar-default .navbar-brand:hover {
    color: #ff9800;
}
.navbar .nav > li > a:hover::first-line {
color:          #ff9800;
text-shadow:    grey;
}

  .abtbtn > li:first-child{
    margin-top: 80px;
  }
  .topmen:hover{
    background-color:#ffb347;
    color: white;
  }
.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-image:url('/images/bck1.jpg');
    background-size: cover;
    height: 100vh;
    vertical-align: middle;
}
.intro-message > h2
{
  margin-top: 5px;
  font-family: 'Pacifico';
  font-size: 1.5em;
  color: #f8f8f8;
  text-shadow:2px 2px 3px rgba(0,0,0,0.6);
  text-decoration-style:dotted;
}
.intro-message > h1
{
  font-family: 'Acme', cursive,fantasy;
  font-size: 6em;
  margin:auto;
  color: #FFA500;
  /*color:#ff9900;*/
  text-shadow:2px 2px 3px rgba(0,0,0,0.6);
}
.intro-divider {
  margin-top: 0;
  margin-bottom: 0;
    width: 500px;
    border-top: 1px solid #FFD700;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.intro-section{
  text-align: center;
}
.contacts-section {
  text-align: center;
  background-color:#f8f8f8 ;
}
.cont-space{
  margin-top: 10px;
}
